*~
/asi
/test.svr3
/test.o
/test
/svr3as-19??-??-??
/svr3as-19??-??-??.svr3
/svr3ld-19??-??-??
/svr3ld-19??-??-??.svr3
/sunos4as-19??-??-??
/sunos4as-19??-??-??.svr3
/sunos4ld-19??-??-??
/sunos4ld-19??-??-??.svr3
/import.tmp
/import_src
/try/
